// Import custom variables default overrides here
$primary: rgb(127, 24, 127);
$primary-opacity-8: rgba(127, 24, 127, 0.8);
$sale: rgba(167, 4, 4, 0.8);

$gray: #e6e6e6;

$theme-colors: (
  "primary": $primary,
  "primary-opacity-8": $primary-opacity-8,
  "gray": $gray,
  "sale": $sale,

);

// Create your own map
$custom-color: (
  "icon-background": rgba(127, 24, 127, 0.2),
);

// Merge maps
$theme-colors: map-merge($theme-colors, $custom-color);

$utilities: (
  "rounded": (
    property: border-radius,
    class: rounded,
    values: (
      null: 1rem,
      circle: 50%,
    )
  )
);

// Include any default variable overrides here (though functions won't be available)

@import "./bootstrap/scss/bootstrap";

// Then add additional custom code here

/************ HEADER **********/

.annoucement-bar {
  font-size: 0.8rem;
  border-bottom: 1px solid var(--bs-gray);

  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-flex;
    margin: 0 -10px;

    li {
      margin: 0 10px;
      display: flex;
      align-items: center;

      .bi {
        background-color: var(--bs-icon-background);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin-right: 6px;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.site-header {
  .aws-search-field {
    font-size: 0.9rem;
    border-radius: 20px !important;
    padding-left: 1.2rem;
  }
}

/************ MAIN MENU **********/

.main-navigation {
  font-weight: 600;
  .current-menu-item {
    background: rgb(149, 33, 149);
  }
  a {
    color: var(--bs-white);
    padding: 0.6rem 1.4rem;
  }
  a:hover {
    background: rgb(149, 33, 149);
  }
 
}

.menu-toggle {
  background: $primary;
  color: white;
  border: none;
}

/************ FRONT PAGE **********/

/************ SLIDER **********/
.carousel {
  .carousel-control-prev,
  .carousel-control-next {
    width: 6%;
  }
}

/************ CATEGORIES **********/
.categories {
  background: #f9f9f9;

  .categories__col {
    height: 212px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .sale {

  }

  @include media-breakpoint-up (md) {
    .categories__col {
      height: 336px;
    }
  }
}

/************ FOOTER **********/

.site-footer {
  .menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 0.3rem;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}